mixin input-radio(data)
	+b('label').input-radio
		+e('input')(
			class='field_indent_#{data.attributes.id}'
			type='radio'
			value=data.label
		)&attributes(data.attributes)

		+e('span')(class='label_indent_#{data.attributes.id}') !{data.label}
