mixin textarea(data)
	each item in data
		+e('input').input#summary(
			type='hidden'
			value=item.value
		)
		+b('div').textarea(
			role='textbox'
			contenteditable='true'
		)&attributes(item.attributes) !{item.value}

	//- Использовал div вместо textarea т.к. есть баг в jade – переводы строк и пробелы, в данном случае через каждые три строки. Whitespace in textarea – https://github.com/pugjs/pug/issues/1931
